*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp
*.a

.deps
.libs

autom4te.cache
config.h
config.intl
config.log
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub

.local.vimrc
.lvimrc

.clang-format

.gdbinit
.gdb_history

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found

# ignore ./contrib/gcc_update output
LAST_UPDATED
REVISION

stamp-*
*.stamp

# ignore in-tree prerequisites
/mpfr*
/mpc*
/gmp*
isl*

###

config.status
**/config.cache
**/config.status
**/.dirstamp*

**/Makefile*

bfd/doc/chw29408.dSYM/
bfd/elf*-riscv.c
binutils/bfdtest*
binutils/bfdtest2
binutils/testsuite/gentestdlls
gdb/gdb-gdb.py
gnulib/import/alloca.h
gnulib/import/arg-nonnull.h
gnulib/import/arpa/
gnulib/import/c++defs.h
gnulib/import/charset.alias
gnulib/import/configmake.h
gnulib/import/dirent.h
gnulib/import/fcntl.h
gnulib/import/fnmatch.h
gnulib/import/glob.h
gnulib/import/inttypes.h
gnulib/import/limits.h
gnulib/import/math.h
gnulib/import/ref-add.sed
gnulib/import/ref-del.sed
gnulib/import/signal.h
gnulib/import/stdint.h
gnulib/import/stdio.h
gnulib/import/stdlib.h
gnulib/import/string.h
gnulib/import/sys/
gnulib/import/time.h
gnulib/import/unistd.h
gnulib/import/warn-on-use.h
gnulib/import/wchar.h
gnulib/import/wctype.h